# SERVICE FILE FOR USBIP SERVER ON HOST MACHINE WITH USB CONNECTED
# UPDATE LINE 13 TO THE DETAILS FOR YOUR HASS.IO HOST MACHINE
# MAKE SURE THE ROOT USER ON THIS MACHINE CAN USE PUBLIC KEYS TO LOGIN VIA SSH
# TO THE HASS.IO HOST.
# SAVE TO `/lib/systemd/system/` AND RUN `sudo systemctl enable usbipd.service` TO ENABLE.

[Unit]
Description=usbip host daemon
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/usbipd
ExecStartPost=/bin/sh -c "/usr/sbin/usbip bind --$(/usr/sbin/usbip list -p -l | grep '#usbid=0658:0200#' | cut '-d#' -f1)"
ExecStartPost=-/bin/sh -c "/usr/bin/ssh -t root@192.168.1.2 '/root/scripts/usbip/usbipRestart.sh'"
ExecStop=/bin/sh -c "/usr/sbin/usbip unbind --$(/usr/sbin/usbip list -p -l | grep '#usbid=0658:0200#' | cut '-d#' -f1)"
# ExecStop=/bin/sh -c "/usr/sbin/$(uname -r)/usbip detach --port=$(/usr/lib/linux-tools/$(uname -r)/usbip port | grep '<Port in Use>' | sed -E 's/^Port ([0-9][0-9]).*/\1/')"
[Install]
WantedBy=multi-user.target
