# SERVICE FILE FOR USBIP CLIENT ON HASS.IO HOST MACHINE
[Unit]
Description=usbip client
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/skynet/scripts/usbip start
ExecStop=/home/skynet/scripts/usbip stop

[Install]
WantedBy=multi-user.target