[Unit]
Description=usbip client
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/local/sbin/usbip attach -r 192.168.10.92 -b $(/usr/local/sbin/usbip list -r 192.168.10.92 | grep '0658:0200' | cut -d: -f1)"
ExecStop=/bin/sh -c "/usr/local/sbin/usbip detach --port=$(/usr/local/sbin/usbip port | grep '<Port in Use>' | sed -E 's/^Port ([0-9][0-9]).*/\\1/')"

[Install]
WantedBy=multi-user.target